<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <mapping class="demo.entity.Borrow"/>
  <mapping class="demo.entity.Category"/>
  <mapping class="demo.entity.BorrowId"/>
  <mapping class="demo.entity.Employee"/>
  <mapping class="demo.entity.Equipment"/>
  <mapping class="demo.entity.Role"/>
  <mapping class="demo.entity.User"/>
 </session-factory>
</hibernate-configuration>
