body,h1,h2,h3
{
	font-family: "TimeNewRonman", sans-serif !important;
}
input {
	box-sizing: border-box;
	font-size: 13px;
	vertical-align: top;
}

.wrapper {
	text-align: center;
	position: relative;
	height: 80px;
	font-size: 0;
	top: 50%;
}

.search {
	padding: 2px 30px;
	font-size: 21px;
	width: 60%;
	max-width: 388px;
	height: 80px;
	border-radius: 31px 0 0 32px;
}

.submit {
	cursor: pointer;
	border: none;
	background:
		url(http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png)
		no-repeat center center, #f39c12;
	background-size: 35px 35px;
	border-radius: 0 20px 20px 0;
	padding: 15px 25px;
	display: inline-block;
	width: 98px;
	height: 51px;
	margin-right: 265px;
	margin-top: -51px;
}

.song {
	border-bottom: 1px solid #F0F0F0;
	padding: 15px 0px;
	line-height: 16px;
	margin-top: 5px;
}

.songId {
	color: #FF8500;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 10px;
}

.songName {
	color: #37C400;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
	line-height: 20px;
}

.test a {
	text-decoration: none;
	color: #37C400;
}

.SongLyric {
	line-height: 20px;
}

.author {
	color: #3D3D3D;
	font-size: 14px;
	font-style: italic;
	text-transform: capitalize;
}

.lmore {
	font-size: 12px;
	background: #F60;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 6px !important;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.w3-greyscale, .w3-grayscale {
	filter: none !important;
}

.h3 {
	font-weight: bold;
}

.w3-bar-item.w3-button {
	text-decoration: none !important;
}

.maso {
	color: #FF8500;
}

.tenbai {
	color: #37C400
}

.Custom h3 a {
	color: #37C400;
	text-decoration: none;
}

.fullLyric {
	text-align: justify;
}

.menu-right {
	background: #f39c12;
	height: 450px;
	line-height: 75px;
	font-size: 18px;
	text-align: right;
}

.menu-right ul li a {
	color: white;
	text-decoration: none;
}

.test {
	margin-left: 20px;
}

.suggestions-list {
	position: absolute;
list-style-type: none;
margin: 0 0 0 23px;
padding: 0;
overflow: auto;
left: 267px;

}

.suggestions-list li {
	color: #000000;
padding: 6px 12px;
cursor: pointer;
background: #f9f9f9;
border-bottom: 1px solid #eeeeee;
width: 625px;
text-align: left;
padding: 6px 12px;

}

.suggestions-list li:hover {
	background: #eeeeee;
}

.suggestions-list li:active, .suggestions-list li.active {
	color: #FFFFFF;
	background: #0099FF;
	width: 625px;
}

.suggestions-list:focus {
	outline: none;
}

.list-wrapper input[type="text"] {
	width: 680px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	margin: 0px auto;
	display: block;
}

.list-wrapper ul {
	text-align: center;
}
.t h4 a
{
	tet-decoration :none;
}
.equipmentName
{
	font-weight:bold;
	font-size:20px;
}