body
{
	margin: 0;
    padding: 0;
    color: #515151;
    overflow-x: hidden;
    font-weight: normal;
    background-color: #ebebeb;
    font: 16px/1.6 poppins,Helvetica,sans-serif,serif;
    -webkit-font-smoothing: antialiased;
}

.loader-block-container {
    top: 50%;
    left: 50%;
    font-size: 0;
    line-height: 0;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.circle-block-style-6 {
    border-color: transparent;
    border-top-color: #dddddd;
    -webkit-animation: gfort-spin 1s infinite ease-in-out alternate;
    animation: gfort-spin 1s infinite ease-in-out alternate;
}
.circle-block {
    margin: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #dddddd;
    -webkit-animation: gfort-spin 0.75s infinite linear;
    animation: gfort-spin 0.75s infinite linear;
}
#main-wrapper {
    padding: 0;
    z-index: 2;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    max-width: 1600px;
    position: relative;
    background-color: #ffffff;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}
.grey-section {
    background-color: #f7f7f7;
}
.grey-section, .black-section, .white-section {
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.section-lg-padding>.section-container {
    padding: 160px 0 130px!important;
}
.section-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
}
@media (max-width: 767px)
responsive.css:1
.container, ul.navbar-nav, .gfort-50-column>div.image-block, .gfort-42-column>div.image-block {
    width: 100%;
    max-width: 470px;
}
.title-block-container.text-center {
    margin-bottom: 30px;
}
.lg-heading, .title-block-container.text-center .lg-heading {
    font-size: 150px;
}
@media (max-width: 991px)
.title-block-container.text-center h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.title-block-container.text-center h1 {
    line-height: 1;
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.title-block-container h1 {
    margin-top: -5px;
}
h1, h2, .tooltip, .btn-gfort, .navbar-brand, .btn-gfort-white {
    font-family: Montserrat,Helvetica,sans-serif,serif;
}